// Here you can add other styles


.c-header.c-header-fixed{
    top:0px;
}

.click-file{
    cursor:pointer;
}

*[dir="rtl"] .dropdown-menu{
    right: 82px;
    left: none;
  }
  .users-table_wrapper>.dt-buttons{
    float: left;
  }

  *[dir="rtl"] .btn-group > .btn:not(:first-child),
  *[dir="rtl"] .btn-group > .btn-group:not(:first-child) {
  margin-left: -1px;
}